In [2]:
import pandas as pd

df=pd.read_csv(r"C:\Users\cahan\OneDrive\Desktop\Sales\Messy-SuperStore Data.csv")  
            
df

df.shape

(14204, 12)

In [7]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [8]:
df.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [9]:
df.tail(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
14194,FDA01,15.00,reg,0.054463,Canned,59.5904,OUT049,1999,Medium,Tier 1,Supermarket Type1,915.774430
14195,NCH42,6.86,Low Fat,0.036594,Household,231.1010,OUT049,1999,Medium,Tier 1,Supermarket Type1,4996.581713
14196,FDF46,7.07,Low Fat,0.094053,Snack Foods,116.0834,OUT018,2009,Medium,Tier 3,Supermarket Type2,1691.772707
14197,DRL35,15.70,Low Fat,0.030704,Hard Drinks,43.2770,OUT046,1997,Small,Tier 1,Supermarket Type1,612.708246
14198,FDW46,13.00,Regular,0.070411,Snack Foods,63.4484,OUT049,1999,Medium,Tier 1,Supermarket Type1,1001.645945
14199,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2213.476465
14200,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,2349.547110
14201,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,1892.981544
14202,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,4533.564958
14203,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.235520

In [10]:
df.info

<bound method DataFrame.info of       Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0               FDA15         9.30          Low Fat         0.016047
1               DRC01         5.92          Regular         0.019278
2               FDN15        17.50          Low Fat         0.016760
3               FDX07        19.20          Regular         0.000000
4               NCD19         8.93          Low Fat         0.000000
...               ...          ...              ...              ...
14199           FDB58        10.50          Regular         0.013496
14200           FDD47         7.60          Regular         0.142991
14201           NCO17        10.00          Low Fat         0.073529
14202           FDJ26        15.30          Regular         0.000000
14203           FDU37         9.50          Regular         0.104720

                   Item_Type  Item_MRP Outlet_Identifier  \
0                      Dairy  249.8092            OUT049
1                Soft Drinks   48.2692            OUT018
2                       Meat  141.6180            OUT049
3      Fruits and Vegetables  182.0950            OUT010
4                  Household   53.8614            OUT013
...                      ...       ...               ...
14199            Snack Foods  141.3154            OUT046
14200          Starchy Foods  169.1448            OUT018
14201     Health and Hygiene  118.7440            OUT045
14202                 Canned  214.6218            OUT017
14203                 Canned   79.7960            OUT045

       Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                           1999      Medium               Tier 1
1                           2009      Medium               Tier 3
2                           1999      Medium               Tier 1
3                           1998         NaN               Tier 3
4                           1987        High               Tier 3
...                          ...         ...                  ...
14199                       1997       Small               Tier 1
14200                       2009      Medium               Tier 3
14201                       2002         NaN               Tier 2
14202                       2007         NaN               Tier 2
14203                       2002         NaN               Tier 2

             Outlet_Type  Item_Outlet_Sales
0      Supermarket Type1        3735.138000
1      Supermarket Type2         443.422800
2      Supermarket Type1        2097.270000
3          Grocery Store         732.380000
4      Supermarket Type1         994.705200
...                  ...                ...
14199  Supermarket Type1        2213.476465
14200  Supermarket Type2        2349.547110
14201  Supermarket Type1        1892.981544
14202  Supermarket Type1        4533.564958
14203  Supermarket Type1        1302.235520

[14204 rows x 12 columns]>

In [12]:
df.describe

<bound method NDFrame.describe of       Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0               FDA15         9.30          Low Fat         0.016047
1               DRC01         5.92          Regular         0.019278
2               FDN15        17.50          Low Fat         0.016760
3               FDX07        19.20          Regular         0.000000
4               NCD19         8.93          Low Fat         0.000000
...               ...          ...              ...              ...
14199           FDB58        10.50          Regular         0.013496
14200           FDD47         7.60          Regular         0.142991
14201           NCO17        10.00          Low Fat         0.073529
14202           FDJ26        15.30          Regular         0.000000
14203           FDU37         9.50          Regular         0.104720

                   Item_Type  Item_MRP Outlet_Identifier  \
0                      Dairy  249.8092            OUT049
1                Soft Drinks   48.2692            OUT018
2                       Meat  141.6180            OUT049
3      Fruits and Vegetables  182.0950            OUT010
4                  Household   53.8614            OUT013
...                      ...       ...               ...
14199            Snack Foods  141.3154            OUT046
14200          Starchy Foods  169.1448            OUT018
14201     Health and Hygiene  118.7440            OUT045
14202                 Canned  214.6218            OUT017
14203                 Canned   79.7960            OUT045

       Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                           1999      Medium               Tier 1
1                           2009      Medium               Tier 3
2                           1999      Medium               Tier 1
3                           1998         NaN               Tier 3
4                           1987        High               Tier 3
...                          ...         ...                  ...
14199                       1997       Small               Tier 1
14200                       2009      Medium               Tier 3
14201                       2002         NaN               Tier 2
14202                       2007         NaN               Tier 2
14203                       2002         NaN               Tier 2

             Outlet_Type  Item_Outlet_Sales
0      Supermarket Type1        3735.138000
1      Supermarket Type2         443.422800
2      Supermarket Type1        2097.270000
3          Grocery Store         732.380000
4      Supermarket Type1         994.705200
...                  ...                ...
14199  Supermarket Type1        2213.476465
14200  Supermarket Type2        2349.547110
14201  Supermarket Type1        1892.981544
14202  Supermarket Type1        4533.564958
14203  Supermarket Type1        1302.235520

[14204 rows x 12 columns]>

In [13]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [15]:
df.select_dtypes(include="number")

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
0,9.30,0.016047,249.8092,1999,3735.138000
1,5.92,0.019278,48.2692,2009,443.422800
2,17.50,0.016760,141.6180,1999,2097.270000
3,19.20,0.000000,182.0950,1998,732.380000
4,8.93,0.000000,53.8614,1987,994.705200
...,...,...,...,...,...
14199,10.50,0.013496,141.3154,1997,2213.476465
14200,7.60,0.142991,169.1448,2009,2349.547110
14201,10.00,0.073529,118.7440,2002,1892.981544
14202,15.30,0.000000,214.6218,2007,4533.564958
14203,9.50,0.104720,79.7960,2002,1302.235520

In [16]:
df.select_dtypes(include="object")

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,Fruits and Vegetables,OUT010,NaN,Tier 3,Grocery Store
4,NCD19,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...
14199,FDB58,Regular,Snack Foods,OUT046,Small,Tier 1,Supermarket Type1
14200,FDD47,Regular,Starchy Foods,OUT018,Medium,Tier 3,Supermarket Type2
14201,NCO17,Low Fat,Health and Hygiene,OUT045,NaN,Tier 2,Supermarket Type1
14202,FDJ26,Regular,Canned,OUT017,NaN,Tier 2,Supermarket Type1
14203,FDU37,Regular,Canned,OUT045,NaN,Tier 2,Supermarket Type1

In [17]:
df["Item_Type"].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [3]:
df2=df.dropna(subset=["Item_Weight"])

df2=df2.copy()

In [31]:
df2["Outlet_Size"]=df2["Outlet_Size"].fillna("Unknown")
df2

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.422800
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.270000
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Unknown,Tier 3,Grocery Store,732.380000
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2213.476465
14200,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,2349.547110
14201,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,Unknown,Tier 2,Supermarket Type1,1892.981544
14202,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,2007,Unknown,Tier 2,Supermarket Type1,4533.564958
14203,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,2002,Unknown,Tier 2,Supermarket Type1,1302.235520

In [32]:
df2.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [4]:
df2["Item_Visibility"]=df2["Item_Visibility"].round(3)
df2

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
1,DRC01,5.92,Regular,0.019,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.422800
2,FDN15,17.50,Low Fat,0.017,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.270000
3,FDX07,19.20,Regular,0.000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.380000
4,NCD19,8.93,Low Fat,0.000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2213.476465
14200,FDD47,7.60,Regular,0.143,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,2349.547110
14201,NCO17,10.00,Low Fat,0.074,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,1892.981544
14202,FDJ26,15.30,Regular,0.000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,4533.564958
14203,FDU37,9.50,Regular,0.105,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.235520

In [37]:

df2["Item_Type"]=df2["Item_Type"].str.strip()
df2

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
1,DRC01,5.92,Regular,0.019,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.422800
2,FDN15,17.50,Low Fat,0.017,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.270000
3,FDX07,19.20,Regular,0.000,Fruits and Vegetables,182.0950,OUT010,1998,Unknown,Tier 3,Grocery Store,732.380000
4,NCD19,8.93,Low Fat,0.000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2213.476465
14200,FDD47,7.60,Regular,0.143,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,2349.547110
14201,NCO17,10.00,Low Fat,0.074,Health and Hygiene,118.7440,OUT045,2002,Unknown,Tier 2,Supermarket Type1,1892.981544
14202,FDJ26,15.30,Regular,0.000,Canned,214.6218,OUT017,2007,Unknown,Tier 2,Supermarket Type1,4533.564958
14203,FDU37,9.50,Regular,0.105,Canned,79.7960,OUT045,2002,Unknown,Tier 2,Supermarket Type1,1302.235520

In [7]:
df2["Item_Fat_Content"]=df2["Item_Fat_Content"].replace("LF","Low Fat")
df2["Item_Fat_Content"]=df2["Item_Fat_Content"].replace("reg","Regular")
df2

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
1,DRC01,5.92,Regular,0.019,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.422800
2,FDN15,17.50,Low Fat,0.017,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.270000
3,FDX07,19.20,Regular,0.000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.380000
4,NCD19,8.93,Low Fat,0.000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2213.476465
14200,FDD47,7.60,Regular,0.143,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,2349.547110
14201,NCO17,10.00,Low Fat,0.074,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,1892.981544
14202,FDJ26,15.30,Regular,0.000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,4533.564958
14203,FDU37,9.50,Regular,0.105,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.235520

In [43]:
df2["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [8]:
df2["Item_Fat_Content"]=df2["Item_Fat_Content"].str.title()

df2.duplicated().sum

In [52]:
df2.drop_duplicates()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
1,DRC01,5.92,Regular,0.019,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.422800
2,FDN15,17.50,Low Fat,0.017,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.270000
3,FDX07,19.20,Regular,0.000,Fruits and Vegetables,182.0950,OUT010,1998,Unknown,Tier 3,Grocery Store,732.380000
4,NCD19,8.93,Low Fat,0.000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2213.476465
14200,FDD47,7.60,Regular,0.143,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,2349.547110
14201,NCO17,10.00,Low Fat,0.074,Health and Hygiene,118.7440,OUT045,2002,Unknown,Tier 2,Supermarket Type1,1892.981544
14202,FDJ26,15.30,Regular,0.000,Canned,214.6218,OUT017,2007,Unknown,Tier 2,Supermarket Type1,4533.564958
14203,FDU37,9.50,Regular,0.105,Canned,79.7960,OUT045,2002,Unknown,Tier 2,Supermarket Type1,1302.235520

In [53]:
df2[df2["Item_MRP"]>200]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
19,FDU02,13.350,Low Fat,0.102,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.422400
20,FDN22,18.850,Regular,0.138,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.086000
32,FDP33,18.700,Low Fat,0.000,Snack Foods,256.6672,OUT018,2009,Medium,Tier 3,Supermarket Type2,3068.006400
40,FDU02,13.350,Low Fat,0.103,Dairy,230.6352,OUT046,1997,Small,Tier 1,Supermarket Type1,3435.528000
...,...,...,...,...,...,...,...,...,...,...,...,...
14183,FDK22,9.800,Low Fat,0.026,Snack Foods,215.3850,OUT013,1987,High,Tier 3,Supermarket Type1,2996.900680
14185,FDK22,9.800,Low Fat,0.026,Snack Foods,214.3850,OUT017,2007,Unknown,Tier 2,Supermarket Type1,3557.409574
14193,FDO03,10.395,Regular,0.037,Meat,229.4352,OUT017,2007,Unknown,Tier 2,Supermarket Type1,4147.868080
14195,NCH42,6.860,Low Fat,0.037,Household,231.1010,OUT049,1999,Medium,Tier 1,Supermarket Type1,4996.581713
14202,FDJ26,15.300,Regular,0.000,Canned,214.6218,OUT017,2007,Unknown,Tier 2,Supermarket Type1,4533.564958

In [54]:
df2[df2["Item_Visibility"]<0.1]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
1,DRC01,5.92,Regular,0.019,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.422800
2,FDN15,17.50,Low Fat,0.017,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.270000
3,FDX07,19.20,Regular,0.000,Fruits and Vegetables,182.0950,OUT010,1998,Unknown,Tier 3,Grocery Store,732.380000
4,NCD19,8.93,Low Fat,0.000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...,...,...
14197,DRL35,15.70,Low Fat,0.031,Hard Drinks,43.2770,OUT046,1997,Small,Tier 1,Supermarket Type1,612.708246
14198,FDW46,13.00,Regular,0.070,Snack Foods,63.4484,OUT049,1999,Medium,Tier 1,Supermarket Type1,1001.645945
14199,FDB58,10.50,Regular,0.013,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2213.476465
14201,NCO17,10.00,Low Fat,0.074,Health and Hygiene,118.7440,OUT045,2002,Unknown,Tier 2,Supermarket Type1,1892.981544
14202,FDJ26,15.30,Regular,0.000,Canned,214.6218,OUT017,2007,Unknown,Tier 2,Supermarket Type1,4533.564958

In [56]:
df2[df2["Item_Type"]=="Dairy"]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
11,FDA03,18.500,Regular,0.045,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.153000
19,FDU02,13.350,Low Fat,0.102,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.422400
28,FDE51,5.925,Regular,0.161,Dairy,45.5086,OUT010,1998,Unknown,Tier 3,Grocery Store,178.434400
30,FDV38,19.250,Low Fat,0.170,Dairy,55.7956,OUT010,1998,Unknown,Tier 3,Grocery Store,163.786800
...,...,...,...,...,...,...,...,...,...,...,...,...
14094,FDI15,13.800,Low Fat,0.237,Dairy,265.0884,OUT010,1998,Unknown,Tier 3,Grocery Store,545.594894
14111,FDJ15,11.350,Regular,0.023,Dairy,182.4608,OUT045,2002,Unknown,Tier 2,Supermarket Type1,2694.172743
14143,FDB15,10.895,Low Fat,0.137,Dairy,265.0568,OUT045,2002,Unknown,Tier 2,Supermarket Type1,3806.379174
14154,FDA03,18.500,Regular,0.046,Dairy,147.1102,OUT045,2002,Unknown,Tier 2,Supermarket Type1,2012.700989
14172,DRH03,17.250,Low Fat,0.035,Dairy,94.7120,OUT045,2002,Unknown,Tier 2,Supermarket Type1,1275.958421

In [61]:
df2[(df2["Item_Type"]=="Dairy") & (df2["Item_MRP"]>200)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
19,FDU02,13.350,Low Fat,0.102,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.422400
40,FDU02,13.350,Low Fat,0.103,Dairy,230.6352,OUT046,1997,Small,Tier 1,Supermarket Type1,3435.528000
110,FDD03,13.300,Low Fat,0.080,Dairy,232.5300,OUT046,1997,Small,Tier 1,Supermarket Type1,699.090000
211,DRC27,13.800,Low Fat,0.058,Dairy,245.1802,OUT035,2004,Small,Tier 2,Supermarket Type1,5650.644600
...,...,...,...,...,...,...,...,...,...,...,...,...
13979,FDI15,13.800,Low Fat,0.142,Dairy,263.6884,OUT018,2009,Medium,Tier 3,Supermarket Type2,4332.801805
14019,FDZ26,11.600,Regular,0.144,Dairy,239.5222,OUT045,2002,Unknown,Tier 2,Supermarket Type1,3445.286989
14064,FDF39,14.850,Regular,0.020,Dairy,261.4910,OUT017,2007,Unknown,Tier 2,Supermarket Type1,4378.380347
14094,FDI15,13.800,Low Fat,0.237,Dairy,265.0884,OUT010,1998,Unknown,Tier 3,Grocery Store,545.594894
14143,FDB15,10.895,Low Fat,0.137,Dairy,265.0568,OUT045,2002,Unknown,Tier 2,Supermarket Type1,3806.379174

In [63]:
df2.groupby("Item_Type")["Item_Outlet_Sales"].mean()

Item_Type
Baking Goods             1846.257592
Breads                   2090.407126
Breakfast                1943.309005
Canned                   2041.646558
Dairy                    2079.893126
Frozen Foods             1950.674620
Fruits and Vegetables    2082.010720
Hard Drinks              1962.870051
Health and Hygiene       1929.759640
Household                2109.444205
Meat                     2038.120445
Others                   1942.294310
Seafood                  2418.089837
Snack Foods              2115.964250
Soft Drinks              1943.673288
Starchy Foods            2208.732809
Name: Item_Outlet_Sales, dtype: float64

In [64]:
df2.groupby("Item_Type")["Item_Outlet_Sales"].sum()

Item_Type
Baking Goods             1.661632e+06
Breads                   7.170096e+05
Breakfast                2.953830e+05
Canned                   1.833399e+06
Dairy                    1.957179e+06
Frozen Foods             2.292043e+06
Fruits and Vegetables    3.470712e+06
Hard Drinks              5.947496e+05
Health and Hygiene       1.370129e+06
Household                2.710636e+06
Meat                     1.237139e+06
Others                   4.428431e+05
Seafood                  1.765206e+05
Snack Foods              3.497689e+06
Soft Drinks              1.172035e+06
Starchy Foods            5.013823e+05
Name: Item_Outlet_Sales, dtype: float64

In [66]:
df2.groupby("Item_Type").size()

Item_Type
Baking Goods              900
Breads                    343
Breakfast                 152
Canned                    898
Dairy                     941
Frozen Foods             1175
Fruits and Vegetables    1667
Hard Drinks               303
Health and Hygiene        710
Household                1285
Meat                      607
Others                    228
Seafood                    73
Snack Foods              1653
Soft Drinks               603
Starchy Foods             227
dtype: int64

In [67]:
df2.groupby("Item_Fat_Content")["Item_MRP"].mean()

Item_Fat_Content
Low Fat    141.281146
Regular    140.550426
Name: Item_MRP, dtype: float64

In [69]:
df.groupby("Outlet_Type")["Item_Outlet_Sales"].max()

Outlet_Type
Grocery Store         1775.6886
Supermarket Type1    10256.6490
Supermarket Type2     6768.5228
Supermarket Type3    13086.9648
Name: Item_Outlet_Sales, dtype: float64

In [70]:
df2.groupby("Item_Type")["Item_Outlet_Sales"].agg(["min","max","mean"])

                            min         max         mean
Item_Type
Baking Goods            48.6034   7931.6754  1846.257592
Breads                  35.2874   7064.8038  2090.407126
Breakfast               39.9480   6930.9780  1943.309005
Canned                  41.9454   7590.1200  2041.646558
Dairy                   47.2718  10256.6490  2079.893126
Frozen Foods            36.6190   9275.9256  1950.674620
Fruits and Vegetables   45.2744   8994.9580  2082.010720
Hard Drinks             71.9064   7843.1240  1962.870051
Health and Hygiene      37.9506   9779.9362  1929.759640
Household               33.2900   7240.5750  2109.444205
Meat                    47.9376   6729.9064  2038.120445
Others                  55.2614   6008.8450  1942.294310
Seafood                158.4604   6503.5344  2418.089837
Snack Foods             34.7548   9069.5276  2115.964250
Soft Drinks             33.2900   7696.6480  1943.673288
Starchy Foods           58.5904   8132.0812  2208.732809

In [18]:
df2.groupby("Item_Type")["Item_Outlet_Sales"].max().sort_values(ascending=False)

Item_Type
Dairy                    10256.6490
Health and Hygiene        9779.9362
Frozen Foods              9275.9256
Snack Foods               9069.5276
Fruits and Vegetables     8994.9580
Starchy Foods             8132.0812
Baking Goods              7931.6754
Hard Drinks               7843.1240
Soft Drinks               7696.6480
Canned                    7590.1200
Household                 7240.5750
Breads                    7064.8038
Breakfast                 6930.9780
Meat                      6729.9064
Seafood                   6503.5344
Others                    6008.8450
Name: Item_Outlet_Sales, dtype: float64

In [22]:
df2.groupby("Outlet_Identifier").count()
df2.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [25]:
df2.groupby("Item_Type")["Item_Outlet_Sales"].median()

Item_Type
Baking Goods             1595.104616
Breads                   1845.597600
Breakfast                1668.135715
Canned                   1765.624924
Dairy                    1737.738000
Frozen Foods             1641.862800
Fruits and Vegetables    1840.914524
Hard Drinks              1643.988156
Health and Hygiene       1786.764062
Household                1973.431200
Meat                     1813.639200
Others                   1809.977300
Seafood                  2247.075000
Snack Foods              1949.969524
Soft Drinks              1701.784800
Starchy Foods            2125.183864
Name: Item_Outlet_Sales, dtype: float64

In [44]:
df2.groupby(["Item_Fat_Content","Item_Type"])["Item_Outlet_Sales"].mean()

Item_Fat_Content  Item_Type
Low Fat           Baking Goods             1724.789957
                  Breads                   2015.727199
                  Breakfast                2258.138185
                  Canned                   2050.259386
                  Dairy                    2056.276293
                  Frozen Foods             1909.373392
                  Fruits and Vegetables    1953.114190
                  Hard Drinks              1962.870051
                  Health and Hygiene       1929.759640
                  Household                2109.444205
                  Meat                     1919.559177
                  Others                   1942.294310
                  Seafood                  1827.377421
                  Snack Foods              2240.386098
                  Soft Drinks              1998.577259
                  Starchy Foods            2304.100404
Regular           Baking Goods             1965.584827
                  Breads                   2174.827912
                  Breakfast                1769.831702
                  Canned                   2032.839748
                  Dairy                    2116.502417
                  Frozen Foods             1994.362784
                  Fruits and Vegetables    2233.624001
                  Meat                     2111.983480
                  Seafood                  3314.343157
                  Snack Foods              1949.892716
                  Soft Drinks              1634.763031
                  Starchy Foods            2071.321435
Name: Item_Outlet_Sales, dtype: float64

In [45]:
df2.sort_values("Item_Outlet_Sales",ascending=False)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4888,FDF39,14.850,Regular,0.019,Dairy,261.2910,OUT013,1987,High,Tier 3,Supermarket Type1,10256.6490
4289,NCM05,6.825,Low Fat,0.060,Health and Hygiene,262.5226,OUT046,1997,Small,Tier 1,Supermarket Type1,9779.9362
4961,FDK03,12.600,Regular,0.074,Dairy,255.5356,OUT017,2007,NaN,Tier 2,Supermarket Type1,9664.7528
997,FDK28,5.695,Low Fat,0.066,Frozen Foods,259.2646,OUT017,2007,NaN,Tier 2,Supermarket Type1,9275.9256
6409,FDA21,13.650,Low Fat,0.036,Snack Foods,184.4924,OUT013,1987,High,Tier 3,Supermarket Type1,9069.5276
...,...,...,...,...,...,...,...,...,...,...,...,...
4265,FDS40,15.350,Low Fat,0.023,Frozen Foods,35.2190,OUT010,1998,NaN,Tier 3,Grocery Store,36.6190
7388,FDQ47,7.155,Regular,0.282,Breads,33.8874,OUT010,1998,NaN,Tier 3,Grocery Store,35.2874
9197,FDU21,11.800,Regular,0.128,Snack Foods,33.0558,OUT010,1998,NaN,Tier 3,Grocery Store,34.7548
906,DRK12,9.500,Low Fat,0.000,Soft Drinks,32.8900,OUT010,1998,NaN,Tier 3,Grocery Store,33.2900
6950,NCR42,9.105,Low Fat,0.064,Household,33.3900,OUT010,1998,NaN,Tier 3,Grocery Store,33.2900

In [46]:
df2.sort_values("Item_MRP",ascending=False).head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4802,FDS13,6.465,Low Fat,0.125,Canned,266.8884,OUT017,2007,NaN,Tier 2,Supermarket Type1,1059.953600
5884,FDR25,17.000,Regular,0.140,Canned,266.8884,OUT046,1997,Small,Tier 1,Supermarket Type1,5034.779600
4159,FDK51,19.850,Low Fat,0.009,Dairy,266.6884,OUT010,1998,NaN,Tier 3,Grocery Store,264.988400
5254,NCS29,9.000,Low Fat,0.069,Health and Hygiene,266.6884,OUT013,1987,High,Tier 3,Supermarket Type1,3974.826000
5558,NCS29,9.000,Low Fat,0.070,Health and Hygiene,266.5884,OUT035,2004,Small,Tier 2,Supermarket Type1,6624.710000
11903,FDR25,17.000,Regular,0.139,Canned,266.5884,OUT035,2004,Small,Tier 2,Supermarket Type1,4004.026372
12319,FDR25,17.000,Regular,0.140,Canned,266.4884,OUT049,1999,Medium,Tier 1,Supermarket Type1,3055.310857
11406,NCM05,6.825,Low Fat,0.060,Health and Hygiene,266.3226,OUT018,2009,Medium,Tier 3,Supermarket Type2,3771.524025
4877,NCS29,9.000,Low Fat,0.070,Health and Hygiene,266.2884,OUT049,1999,Medium,Tier 1,Supermarket Type1,2914.872400
13513,FDY14,10.300,Low Fat,0.117,Dairy,266.2226,OUT010,1998,NaN,Tier 3,Grocery Store,452.868745

In [ ]:
df2["Item_Visibility"]=df2["Item_Visibility"].apply(
    lambda x: "Low" if x<0.1 and x!=0 else ( "High" if x>=0.1 else "Unknown"))

In [51]:
df2

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
1,DRC01,5.92,Regular,Low,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.422800
2,FDN15,17.50,Low Fat,Low,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.270000
3,FDX07,19.20,Regular,Unknown,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.380000
4,NCD19,8.93,Low Fat,Unknown,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,Low,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2213.476465
14200,FDD47,7.60,Regular,High,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,2349.547110
14201,NCO17,10.00,Low Fat,Low,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,1892.981544
14202,FDJ26,15.30,Regular,Unknown,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,4533.564958
14203,FDU37,9.50,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.235520

In [ ]:
df2 = df2.merge(
    df[["Item_Identifier", "Item_Visibility"]]
      .rename(columns={"Item_Visibility": "Visibility"}),
    on="Item_Identifier",
    how="left"
)

In [66]:
df3=df2.drop("Visibility_y",axis=1)

In [73]:
df3.drop("Visibility_x",axis=1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Visibility
0,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047
1,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016055
2,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016019
3,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016088
4,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.026818
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9179204,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104002
9179205,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.182980
9179206,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.105099
9179207,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104671
9179208,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720

In [75]:
df3=df3.copy()

In [76]:
df3

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Visibility_x,Visibility
0,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.016047
1,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.016055
2,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.016019
3,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.016088
4,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.026818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9179204,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.104002
9179205,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.182980
9179206,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.105099
9179207,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.104671
9179208,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.104720

In [79]:
df3["High_sales"]=df3["Item_Outlet_Sales"]>3000
df3

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Visibility_x,Visibility,High_sales
0,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.016047,True
1,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.016055,True
2,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.016019,True
3,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.016088,True
4,FDA15,9.3,Low Fat,Low,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.13800,0.016047,0.026818,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9179204,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.104002,False
9179205,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.182980,False
9179206,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.105099,False
9179207,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.104671,False
9179208,FDU37,9.5,Regular,High,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,1302.23552,0.104720,0.104720,False

In [ ]:
df3.to_csv("C:/Users/cahan/OneDrive/Desktop/Clean_SuperStore_Data.csv", index=False)